@import "tailwindcss";
@plugin "daisyui";

.swiper-pagination-bullet {
  background-color: #1E1E1E !important;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background-color: #536257 !important;
  opacity: 1;
}